html, body {
  clear: both;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1 {
  margin-top: 0;
  color: rgba(215,69,152, 1);
  text-shadow: 3px  3px 0 #fff,
              -3px -3px 0 #fff,
              -3px  0px 0 rgba(249, 237, 112, 1),
               0px -3px 0 rgba(249, 237, 112, 1);
}

button {
  font-weight: bold;
}

.box-wrapper {
  display: -webkit-box;
}


#wrapper, .bar {
  width: 900px;
  margin: 0 auto;
}

#left-main {
  width: 300px;
}

img#goodmorning {
  width: 280px;
}

#center-main {
  width: 600px;
  min-width: 600px;
  max-width: 600px;
}

td.person {
  font-weight: bold;
  min-width: 120px;
}
td.person.me {
  color: blue;
}

td.content {
  background-color: rgba(245,245,245,0.8);
}

div#right-main {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  -webkit-opacity: 0.8;
  width: 200px;
  height: 200px;
}
