html, body {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1 {
  color: rgba(215,69,152, 1);
  text-shadow: 3px  3px 0 #fff,
              -3px -3px 0 #fff,
              -3px  0px 0 rgba(249, 237, 112, 1),
               0px -3px 0 rgba(249, 237, 112, 1);
}

button {
  font-weight: bold;
}

.box-wrapper {
  display: -webkit-box;
}

#wrapper, .bar {
  width: 900px;
  margin: 0 auto;
}

#left-main {
  width: 420px;
}

img#goodmorning {
  width: 400px;
}

#center-main {
  width: 480px;
}

td.person {
  font-weight: bold;
}
td.person.me {
  color: blue;
}
