<!DOCTYPE html>
<html>
<head>
  <title>アサカツおじさん</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="shorcut icon" href="img/favicon.jpg">
</head>
<body>
  <div id="header" class="bar">
    <h1>おはようございます</h1>
  </div>
  <div id="main">
    <div id="wrapper" class="box-wrapper">
      <div id="left-main">
        left
        <ul id="form">
          <li>
            <textarea id="message" cols="30" rows="3"></textarea>
          </li>
          <li>
            <button id="submit">アサカツ</button>
          </li>
        </ul>
      </div>
      <div id="center-main">
        center
        <ul id="stream">
        </ul>
      </div>
      <div id="right-main">
        right
      </div>
    </div>
  </div>
  <div class="footer" class="bar">
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
