<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>アサカツおじさん</title>
</head>
<body>
  <div id="header" class="bar">
    <h1>全国のアサカツおじさん、おはようございます</h1>
  </div>
  <div id="main">
    <div id="wrapper" class="box-wrapper">
      <div id="left-main">
        <ul id="forms">
          <li>
            <textarea id="message" class="read" cols="30" rows="3">おはようございます</textarea>
            <br>
            <button class="submit read">submit</button>
          </li>
        </ul>
      </div>
      <div id="center-main">
        <table id="stream">
        </table>
      </div>
      <div id="right-main">
        <small>
        <ul>
          <li>不具合・機能追加 : <a href="https://github.com/otiai10/ojisan/issues/new" target="_blank">github/otiai10/ojisan/issues</a></li>
          <li>苦情・問い合わせ : <a href="https://twitter.com/intent/tweet?text=@otiai10+ " target="_blank">twitter/otiai10</a></li>
        </ul>
        </small>
      </div>
    </div>
  </div>
  <div class="footer" class="bar">
  </div>
  <script type="text/javascript" src="js/core/jquery.js"></script>
  <script type="text/javascript" src="js/core/underscore.js"></script>
  <script type="text/javascript" src="js/core/backbone.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
