<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>アサカツおじさん</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="shorcut icon" href="img/favicon.jpg">
</head>
<body>
  <div id="header" class="bar">
    <h1>全国のアサカツおじさん、おはようございます</h1>
  </div>
  <div id="main">
    <div id="wrapper" class="box-wrapper">
      <div id="left-main">
        <img id="goodmorning" src="img/goodmorning.jpg">
        <ul id="forms">
          <li>
            <button id="jp">おはようございます</button>
            <button id="us">Good Morning</button>
            <button id="unko">うんこしたいです</button>
            <button id="shitekudasai">してください</button>
          </li>
          <li>
            <textarea id="message" cols="30" rows="3"></textarea>
            <button id="submit">アサカツ</button>
          </li>
        </ul>
      </div>
      <div id="center-main">
        <ul id="stream">
        </ul>
      </div>
      <div id="right-main">
      </div>
    </div>
  </div>
  <div class="footer" class="bar">
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
